body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#000066, grey);
  font-family: 'Indie Flower', cursive;
}

.flexer {
  display: flex;
}

.board {
  width: 30%;
  min-width: 450px;
  height: 96vh;
  margin: 2vh auto;
  background: linear-gradient(#0000ff, #0000cc);
}

/***** answer container *****/
.answer-container {
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  border: 1px solid black;
}

.answer-box {
  box-sizing: border-box;
  width: 70%;
  height: 100%;
}

.answer {
  width: 80%;
  height: 80%;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 5px;
  background: linear-gradient(grey, #000066, grey);
  box-shadow: 2px 0px 4px white;
}

.button-container {
  width: 30%;
  height: 100%;
}

.submit-btn {
  width: 80%;
  height: 80%;
  background: linear-gradient(#000066, grey);
  margin: auto;
  text-align: center;
  margin-top: 5px;
  line-height: 300%;
  box-shadow: 2px 2px 4px white;
}

.text {
  margin: 0 auto;
}

/******  guess-container  ******/
.guess-container {
  width: 100%;
  height: 80%;
}

.guess-row {
  box-sizing: border-box;
  height: 10%;
  width: 100%;
  border-bottom:1px solid #0000ff;
}

.guess-pegs {
  height: 100%;
  width: 70%;
  padding: 0 5%;
}

.guess-peg {
  width: 23%;
  height: 100%;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 2%;
  /* background: linear-gradient(#000066, blue); */
}

.grade-pegs {
  height: 100%;
  width: 30%;
  flex-wrap: wrap;
  padding: 0 5%;
}

.grade-peg {
  box-sizing: border-box;
  width: 37%;
  height: 50%;
  border: 1px solid black;
  margin-left: 5%;
  border-radius: 50%;
  /* background: linear-gradient(#000066, blue); */
}

/***** selection container *****/
.selection-container {
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  border: 1px solid black;
}
